*{
    padding: 0;
    margin: 0;
}

nav{
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    
    
}
a{
    text-decoration: none !important;
    color: black !important;
    padding: 2rem;
}

#hero{
    height: 100vh;
    background-image: url("https://images.pexels.com/photos/260922/pexels-photo-260922.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
    display: flex;
    flex-direction: column;
}
label{
    color: black;
}

.demo{
    color: white;
    display: flex;
    padding: 4rem;
    flex-direction: column;
    font-size: 0.7rem;
}

form{
    color: white;
}
 .book{
    padding: 4rem;
 }

.about{
font-size: x-small;
   padding: 2rem;
   
}
.img{
    height: 40vh;
    padding: 2rem;
}